.body {
    font-family: 'Quicksand', sans-serif;
}
 
.--bs-navbar-brand {
    font-size: larger;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

#hanging-icons {
    color: #62314a;
}