body {
    font-family: 'Quicksand', sans-serif;
    background-color: #a6beba;   
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

/* NAV */
.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover{
    color: #a6beba;
}

.navbar {
    flex-direction: column;
}

.tagline {
    font-size: 1.5rem;
    margin: 0px; 
    justify-content: center;   
}

/* CARDS of FACTS */
.card {
background-color: #62314a;
}

.card-body {
color: #ebbad2;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.card-img-btm {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

/* START TIPS ICONS */
#hanging-icons {
    color: #62314a;
    justify-content: center;
}

/* SURVEY */
.survey {
    background-color: #d9b19b;
    color: #62314a;
    border: solid #62314a;
    text-align: center;
    justify-content: left;
    font-weight: bold;   
}

.feedback-given {
    color:#62314a;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

.diettype {
    color: #62314a;
    justify-content: center;
    gap: 200px;
}

